:root{
    --black : #000000;
    --grey : #333333;
    --white:#fff;
}
body,h1,h2,h3,h4,h5,h6,p{
    margin:0px;
    padding:0px;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--black); 
}
#heading{
    margin-top: 30px;
    text-align: center;
    color: var(--white);
}
#form_container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#searchQuery{
    width: 180px;
    height: 25px;
    font-size: 18px;
}
#submit_btn{
    font-size: 20px;
    width: 80px;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
  border-spacing: 0px 35px;
}
tbody tr{
  font-size: 30px;
  color:var(--white);
}
.emojtxt_color{
    color:white;
}
td{
   border-bottom: 1px solid green ;
   width: 300px;
}
